@import "tailwindcss";

@theme {
    --color-primary: rgb(35, 35, 38);
    --color-accent: rgb(74, 110, 145);
    --color-accent-border: rgb(106, 143, 179);
    --color-header: rgb(30, 30, 34);
    --color-texty: rgb(236, 236, 236); /* Get it? Because the BevY ends with Y, so why not call it TextY? */
}

#markdown-page {
    h1 {
        @apply text-3xl md:text-4xl text-center font-bold text-texty;
    }
    h2 {
        @apply text-2xl md:text-3xl text-center font-bold text-texty;
    }
    h3 {
        @apply text-xl md:text-2xl text-center font-bold text-texty;
    }
    h4 {
        @apply text-lg md:text-xl text-center font-bold text-texty;
    }
    p {
        @apply text-2xl md:text-3xl text-texty mt-8 mb-8;
    }
    li {
        @apply text-2xl md:text-3xl text-texty mt-6 mb-6;
    }
    ul {
        @apply list-disc ml-8;
    }
    ol {
        @apply list-decimal ml-8;
    }
    a {
        @apply text-2xl md:text-3xl text-texty/70 mt-8 mb-8 underline;
    }
    hr {
        @apply bg-accent min-h-1.5 rounded-2xl;
    }
    code {
        @apply text-white
    }
}